@import "../variables";
@import "../mixins";


.catalog {
  @include flex-column;
}

.catalog__header {
  @include header;
  text-align: left;
  margin: 22px 6.3%;
  padding-top: 3px;
  padding-bottom: 20px;
  line-height: 36px;
}

.catalog__load {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-grey-light;


  &--100500 {
    @include content-oswald;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  &--more {
    margin-top: 8px;
    margin-bottom: 21px;
    font-size: 12px;
    line-height: 16px;
  }
}

.catalog__load-wrapper {
  margin: 37px 6.3% 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -55px;
    left: 45%;
    background-image: url("../img/icon-plus.svg");
  }
}

.catalog__button {
  @include content-oswald;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  height: 38px;
  background-color: $background-grey;
  border: none;
  padding-top: 9px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__gift {
  background-color: $green;
  width: 280px;
  height: 290px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin: 17px auto 33px;
}

.catalog__gift p {
  width: 170px;
  color: #ffffff;
  text-align: center;
  margin: 187px auto 0;
  font-size: 16px;
  line-height: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 58px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: -120px;
    left: 60px;
  }
}

.catalog__extra-gift-wrapper {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    border-top: 3px solid $green;
    width: 90%;
    top: 42px;
    z-index: -1;
    margin-left: 10%;
  }
}

.catalog__extra {
  margin: 23px 6.3% 22px;
}

@media (min-width: 768px) {
  .catalog__header {
    @include header-tablet;
    margin: 8px 4%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .catalog__wrapper {
    margin: 10px 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__load {
    width: 46%;
    border: 1px solid $border-grey;
    padding-top: 43px;
    margin-bottom: 18px;
    margin-top: 119px;
    padding-bottom: 38px;

    &--100500 {
      font-size: 20px;
      line-height: 20px;
      width: 145px;
      margin: 0 auto;
    }

    &--more {
      font-size: 16px;
      margin: 26px 30px 85px;
      line-height: 18px;
    }
  }

  .catalog__load-wrapper {
    margin: 120px 12% 0;

    &::before {
      width: 60px;
      height: 60px;
      top: -110px;
      left: 38.7%;
    }
  }

  .catalog__extra-gift-wrapper {
    &::before {
      width: 100%;
      top: 58px;
      margin-left: 0;
    }
  }

  .catalog__extra {
    margin: 30px 0 0;
  }

  .catalog__gift {
    width: auto;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin: 24px 4% 77px;
    background-size: cover;
    background-position: center;
  }

  .catalog__gift p {
    margin: 71px auto 0 60%;
    text-align: left;

    &::before {
      top: -7px;
      left: -335px;
    }
  }
}

@media (min-width: 1300px) {
  .catalog__header {
    margin: 24px 3% 7px;
  }

  .catalog__wrapper {
    margin: 10px 3%;
  }

  .catalog__load {
    width: 20.1%;
    margin-bottom: 23px;

    &--more {
      margin: 26px auto 85px;
    }
  }

  .catalog__load-wrapper {
    margin-top: 120px;

    &::before {
      left: 35.3%;
    }
  }

  .catalog__button {
    margin: 0 auto;
    width: 90%;
  }

  .catalog__extra-gift-wrapper {
    margin-bottom: 7px;

    &::before {
      top: 66px;
    }
  }

  .catalog__extra {
    margin: 38px 0 0;
    width: 73.77%;
  }

  .catalog__gift {
    width: 246px;
    margin: 160px 0.5% 77px 4.2%;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  .catalog__gift p {
    margin: 187px auto auto;
    text-align: center;

    &::before {
      top: -121px;
      left: 57px;
    }
  }
}
