@import "../variables";
@import "../mixins";

.contacts {
  @include flex-column;
  background-color: $background-grey;

  &--index {
    background-color: #ffffff;
  }
}

.contacts__wrapper {
  display: flex;
  margin: 23px 6% 10px;
}

.contacts__address {
  line-height: 20px;
  width: 150px;
  margin-top: 6px;
  margin-left: auto;
}

.contacts__street,
.contacts__city {
  @include zero;
}

.contacts__slogan {
  @include content-oswald;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  margin-right: 4%;
  margin-top: 5px;
}

.contacts__map {
  width: 100%;
  background-color: #fdf7ef;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 365px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 100% auto;
  }
}

.contacts__map iframe {
  width: 100%;
  border: none;
}

@media (min-width: 768px) {
  .contacts__slogan {
    font-size: 20px;
    line-height: 25px;
    width: 160px;
  }

  .contacts__wrapper {
    margin-left: 9%;
    margin-bottom: 40px;
  }

  .contacts__address {
    width: 165px;
    text-align: right;
    font-size: 16px;
    margin-right: 25px;
    margin-top: 3px;
  }

  .contacts__street {
    padding-bottom: 20px;
  }

  .contacts__map-background {
    height: 400px;
  }

  .contacts__map iframe {
    height: 396px;
  }

  .contacts {
    &--catalog {
      margin-top: 35px;
    }
  }

  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.png");
    height: 396px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 100% auto;
    }
  }
}

@media (min-width: 1300px) {
  .contacts__wrapper {
    margin-left: 7.5%;
    margin-top: 95px;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 60px 77px 65px 77px;
  }

  .contacts__address {
    @include zero;
    text-align: left;
  }

  .contacts__map iframe {
    height: 400px;
  }

  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png");
    height: 400px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 100% auto;
    }
  }
}
