@import "../variables";
@import "../mixins";

.contacts {
  @include flex-column;
  background-color: $background-grey;

  &--index {
    background-color: #ffffff;
  }
}

.contacts__wrapper {
  display: flex;
  margin: 23px 6% 10px;
}

.contacts__address {
  line-height: 20px;
  width: 150px;
  margin-top: 6px;
  margin-left: auto;
}

.contacts__slogan {
  @include content-oswald;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  margin-right: 4%;
  margin-top: 5px;
}

.contacts__map {
  @include flex-column;
}

.contacts__map-background {
  height: 365px;
  margin: 0 auto;
}
