@import "../variables";
@import "../mixins";

.extra {
  @include flex-column;
}

.extra__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-top: 6px;
  margin-bottom: 33px;
  background-color: #ffffff;
  width: 245px;
}

.extra__list {
  @include list-reset;

  &:last-child {
    border-bottom: 1px solid $border-grey;
  }
}

.extra__item {
  @include flex-column;
  padding-bottom: 17px;
  border-top: 1px solid $border-grey;
}

.extra__name {
  @include content-oswald;
  margin-bottom: 10px;
  margin-top: 13px;
}

.extra__discription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.extra__button {
  width: 100%;
  padding-top: 2px;
}

.catalog__extra-gift-wrapper {
  @include flex_column;
}

@media (min-width: 768px) {
  .extra {
    padding-bottom: 0;
  }

  .extra__header {
    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;
    padding: 0 37px 0 39px;
    margin-right: auto;
    margin-left: 3.6%;
    width: 414px;
  }

  .extra__list {
    margin: 47px 4%;
    border: 1px solid $border-grey;

    &:last-child {
      border-bottom: none;
    }
  }

  .extra__name {
    font-size: 20px;
    line-height: 20px;
    width: 50%;
    margin-top: 16px;
  }

  .extra__discription {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    width: 45%;
    margin-left: auto;
    margin-top: 20px;
    justify-content: flex-end;
  }

  .extra__discription span:last-child {
    width: 33%;
    text-align: end;
  }

  .extra__item {
    border-bottom: 1px solid $border-grey;
    border-top: none;
    padding: 10px 5%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .extra__button {
    margin-top: 10px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  .extra__header {
    margin-left: 6.5%;
  }

  .catalog__extra-gift-wrapper {
    flex-direction: row;
  }

  .extra__list {
    margin-left: 10.3%;
    border-left: none;
    border-right: none;
    width: 84.3%;
  }

  .extra__item {
    display: flex;
    flex-direction: row;
    padding: 10px 0 15px;
    justify-content: flex-start;
  }

  .extra__name {
    width: 34.5%;
    margin-bottom: 0;
  }

  .extra__discription {
    width: 36%;
    margin-bottom: 0;
    justify-content: space-between;
  }

  .extra__discription span:last-child {
    width: 80px;
    text-align: left;
  }

  .extra__button {
    width: 27.5%;
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}
