@import "../variables";
@import "../mixins";

input[type="radio"]:focus + label::before,
input[type="checkbox"]:focus + label::before {
  outline: 2px solid #1e90ff;
}

.form-page {
  @include content-oswald;
}

.form-page__header {
  @include header;
  font-weight: 400px;
  line-height: 60px;
  text-transform: none;
  text-align: left;
  margin-top: 15px;
}

.form-page__header-container {
  margin: 0 6.3%;
}

.form-page__intro {
  margin-right: 10px;
  padding-bottom: 26px;
}

@media (min-width: 768px) {
  .form-page__header {
    @include header-tablet;
    margin-top: 53px;
    margin-bottom: 30px;
  }

  .form-page__header-container {
    margin: 0 4%;
  }

  .form-page__intro {
    font-size: 20px;
    line-height: 30px;
    width: 50%;
    margin-left: 5.8%;
    margin-top: 55px;
  }
}

@media (min-width: 1300px) {
  .form-page {
    width: 1300px;
    margin: 0 auto;
  }

  .form-page__header {
    margin-top: 45px;
    margin-bottom: 30px;
  }

  .form-page__header-container {
    margin: 0 3%;
  }

  .form-page__intro {
    margin-left: 0;
    width: 30%;
  }
}
