@import "../variables";
@import "../mixins";

.full-data {
  display: flex;
  border-bottom: 1px solid #ededed;
}

.full-data__label {
  display: flex;
  text-align: left;
  margin-bottom: 13px;

  &:first-child {
    margin-bottom: 14px;
  }
}

.full-data__label input {
  display: block;
  margin-left: 13px;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .full-data {
    border-bottom: none;
    width: 94%;
  }

  .full-data__label {
    margin-bottom: 20px;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  .full-data__label input {
    margin-left: 19px;
  }
}

@media (min-width: 1300px) {
  .full-data {
    border-bottom: none;
    width: 50%;
  }

  .full-data__label {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
