@import "../variables";
@import "../mixins";

.page-footer {
  @include flex-column;
  padding-left: 6.3%;
  padding-right: 6.3%;
  background-color: $background-grey;
}

.page-footer__logo {
  margin: 37px auto 30px;
  width: 127.8px;
  height: 23.4px;
}

.page-footer__copyright-text {
  font-size: 16px;
  line-height: 16px;
}
