@import "../variables";
@import "../mixins";

.page-footer {
  @include flex-column;
  background-color: $background-grey;
  padding-bottom: 10px;
}

.page-footer__links {
  @include flex-column;
  margin: 0 5.5%;
}

.page-footer__logo {
  @include zero;


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-wrapper {
  margin: 37px auto 30px;
  width: 127.8px;
  height: 23.4px;
}

.page-footer__copyright {
  padding-top: 15px;
  display: flex;
}

.page-footer__copyright-text {
  font-size: 16px;
  line-height: 16px;
}

.page-footer__copyright-link {
  width: 35px;
  height: 42px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-top: 2px;
}

.page-footer__social {
  border-top: 1px solid $footer-grey;
  border-bottom: 1px solid $footer-grey;
  padding-top: 0;
  padding-bottom: 2px;
}

@media (min-width: 768px) {
  .page-footer__links {
    flex-direction: row;
    margin: 35px 3.5% 40px 4%;
  }

  .page-footer__logo-wrapper {
    margin: 0 auto 0 0;
    width: 127.8px;
    height: 23.4px;
    margin-top: 30px;
  }

  .page-footer__social {
    border-top: none;
    border-bottom: none;
    margin: 0 auto;
  }

  .page-footer__copyright {
    margin-left: auto;
  }

  .page-footer__copyright-text {
    padding-right: 20px;
  }
}

@media (min-width: 1300px) {
  .page-footer__contacts {
    position: relative;
    margin-top: 0;
  }

  .contacts__wrapper {
    position: absolute;
    width: 39.6%;
    height: 201px;
  }

  .page-footer__links {
    margin-left: 7.5%;
    margin-right: 7.3%;
    margin-top: 32px;
  }

  .page-footer__copyright {
    padding-top: 20px;
  }
}
