@import "../variables";
@import "../mixins";

.page-footer {
  @include flex-column;
  background-color: $background-grey;
  padding-bottom: 10px;
}

.page-footer__links {
  @include flex-column;
  margin: 0 5.5%;
}

.page-footer__logo {
  margin: 37px auto 30px;
  width: 127.8px;
  height: 23.4px;
}

.page-footer__copyright {
  padding-top: 15px;
  display: flex;
}

.page-footer__copyright-text {
  font-size: 16px;
  line-height: 16px;
}

.page-footer__copyright-link {
  width: 35px;
  height: 42px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-top: 2px;
}

.page-footer__social {
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
}
