@import "../variables";
@import "../mixins";

.page-main__head {
  @include flex_column;
  position: relative;
}

.page-main__cat {
  @include flex_column;
  background-color: $green;
  min-height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 28px;
  padding-bottom: 150px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.page-main__head-heading {
  @include header;
  line-height: 36px;
  width: 300px;
  margin: 0 auto;
  color: #ffffff;
  padding-bottom: 8px;
  z-index: 5;
}

.page-main__head-moto {
  @include content-oswald;
  text-align: center;
  color: #ffffff;
}

.page-main__head-image {
  height: 135px;
  text-align: center;
}

.page-main__head-image img {
  transform: translateY(-138px);
}

.page-main__button {
  width: 87.5%;
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
}

.page-main__services {
  margin: 22px 6.3% 0;
}

.page-main__decription {
  margin: 0 6.3%;
}

@media (min-width: 768px) {
  .page-main__cat {
    background-color: #ffffff;
    background-image: none;
    min-height: auto;
    padding-bottom: 0;
  }

  .page-main__head-heading {
    @include header-tablet;
    color: #000000;
    width: 535px;
    margin-left: 15.3%;
  }

  .page-main__head-moto {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    width: 535px;
    margin: 0 auto;
    padding-top: 34px;
    margin-left: 15.3%;
  }

  .page-main__head-image {
    min-height: 587px;
  }

  .page-main__head-image img {
    transform: translateY(0);
    margin-top: 20px;
    width: 709px;
    height: 609px;
  }

  .page-main__button {
    position: absolute;
    width: 245px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    bottom: 488px;
    left: 15.5%;
  }

  .page-main__services {
    margin: 22px 4% 0;
  }

  .page-main__decription {
    margin: 0 4%;
  }
}

@media (min-width: 1300px) {
  .page-main__head {
    flex-direction: row;
  }

  .page-main__head-image {
    background-color: $green;
    background-image: url("../img/index-background-desktop@1x.jpg");
    width: 50%;
    margin-top: -143px;
    margin-left: auto;
    min-height: 696px;
    background-position: right;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 111% auto;
    }
  }

  .page-main__head-heading,
  .page-main__head-moto {
    margin-left: 0;
    padding-left: 18px;
  }

  .page-main__cat {
    margin-left: 8%;
    padding-top: 80px;
    padding-bottom: 280px;
  }

  .page-main__button {
    height: 52px;
    bottom: 187px;
    left: 9.2%;
  }

  .page-main__head-image img {
    margin-left: -420px;
    margin-top: 140px;
    width: 552px;
    height: 499px;
  }

  .page-main__services {
    margin: 22px 3% 0;
  }

  .page-main__decription {
    margin: 70px 3% 0;
  }
}
