@import "../variables";
@import "../mixins";

.product-description__header {
  @include header;
  text-align: left;
  line-height: 60px;
  margin-top: 15px;
}

.product-description__list {
  @include list-reset;
}

.product-description__item {
  padding-left: 80px;
  margin: 20px 0 26px;
}
