@import "../variables";
@import "../mixins";

.product-description__header {
  @include header;
  text-align: left;
  line-height: 60px;
  margin-top: 15px;
}

.product-description__list {
  @include list-reset;
}

.product-description__item {
  padding-left: 80px;
  margin: 20px 0 26px;
  min-height: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $green;
    background-repeat: no-repeat;
    background-position: center;
    top: -2px;
    left: 0;
  }

  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--fork {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

@media (min-width: 768px) {
  .product-description__header {
    @include header-tablet;
    padding-top: 0;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .product-description__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5px;
  }

  .product-description__item {
    width: 46%;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-right: 11%;
    padding-top: 110px;
    margin: 70px 0 65px;

    &::before {
      width: 80px;
      height: 80px;
      top: -2px;
      left: 0;
    }
  }

  .product-description__item:nth-child(odd) {
    margin-right: 8%;
  }
}

@media (min-width: 1440px) {
  .product-description__list {
    justify-content: space-between;
  }

  .product-description__item {
    width: 20%;
    padding-right: 0;
  }

  .product-description__item:nth-child(odd) {
    margin-right: 0;
  }
}
