@import "../variables";
@import "../mixins";

.radio {
  border-bottom: 1px solid $border-grey;
  padding-bottom: 1px;
}

.radio__inputs {
  margin: 25px 6.3%;
}

.radio__item {
  margin-bottom: 25px;
  padding-left: 46px;
}

