@import "../variables";
@import "../mixins";

.radio {
  border-bottom: 1px solid #ededed;
  padding-bottom: 1px;
}

.radio__inputs {
  margin: 25px 6.3%;
}

.radio__item {
  // margin-bottom: 25px;
  padding-left: 46px;
  margin-bottom: 25px;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.radio__label {
  position: relative;
}

.radio__item input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $border-grey-light;
  top: -6px;
  left: -47px;
}

.radio__item input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $green;
  top: 3px;
  left: -38px;
}

.radio__item:hover input[type="radio"] + label::before {
  border: 1px solid $border-grey-dark;
}

.radio__item:active input[type="radio"] + label::before,
.radio__item:active input[type="radio"] + label::after {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .radio {
    border-bottom: none;
    width: 82%;
    border: 1px solid $border-grey-light;
    margin: 20px auto;
  }

  .radio__item input[type="radio"] + label::before {
    width: 40px;
    height: 40px;
    top: -4px;
    left: -57px;
  }

  .radio__item input[type="radio"]:checked + label::after {
    width: 18px;
    height: 18px;
    top: 7px;
    left: -46px;
  }

  .radio__inputs {
    margin: 27px 6.3%;
  }

  .radio__item {
    margin-bottom: 23px;
    padding-left: 47px;
  }
}

@media (min-width: 1300px) {
  .radio {
    width: 44%;
    margin: 20px auto 23px 3px;
  }

  .radio__item {
    padding-left: 50px;
  }
}
