@import "../variables";
@import "../mixins";


.result-example {
  background-color: $background-grey;
  padding-bottom: 35px;
}

.result-example__header {
  @include header;
  text-align: left;
  line-height: 60px;
  margin-top: 45px;
  margin-bottom: 23px;
  padding-top: 18px;
}

.result-example__conclusion {
  @include content-oswald;
  line-height: 20px;
  text-align: center;
}

.result-example__container {
  margin: 22px 6.3%;
}

@media (min-width: 768px) {
  .result-example {
    margin-top: 35px;

    border-top: 1px solid $border-grey;
    background-color: #ffffff;
  }

  .result-example__container {
    padding: 0 4%;
    margin: 38px 0;
  }

  .result-example__header {
    @include header-tablet;
    padding-top: 0;
  }

  .result-example__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 63px;
    margin-right: 2%;
    margin-bottom: 42px;
  }

  .result-example__tablet-container {
    display: flex;
  }

  .result-example__data {
    width: 51.5%;
  }

  .result-example__conclusion {
    margin-left: auto;
    font-size: 20px;
    line-height: 28px;
    width: 180px;
    text-align: right;
    margin-top: 20px;
  }
}

@media (min-width: 1440px) {
  .result-example {
    border-top: none;
    position: relative;
    padding-bottom: 0;
  }

  .result-example__container {
    position: absolute;
    padding: 0 61.8% 0 7.6%;
    top: -218px;
  }

  .result-example__tablet-container {
    flex-direction: column;
  }

  .result-example__text {
    margin-top: 145px;
  }

  .result-example__data {
    width: 83.5%;
  }
}
