@import "../variables";
@import "../mixins";

.services {
  @include flex-column;
}

.services__weight-decrease,
.services__weight-increase {
  background-color: $background-grey;
  padding: 20px;
  margin-bottom: 20px;
}

.services__header {
  @include content-oswald;
  text-align: center;
}

.services__catalog {
  @include content-oswald;
}
