@import "../variables";
@import "../mixins";

.slider {
  @include list-reset;
  margin: 0 auto;
}

.visualisation-slider {
  @include flex-column;
}

.lider-slide {
  @include flex-column;
}

.slider-slide img {
  margin-top: 13px;
  margin-bottom: 28px;
}

.slider-range-line {
  width: 85px;
  height: 14px;
  border: 1px solid $border-grey;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
}

.slider-range-value {
  position: absolute;
  background-color: $green;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  margin-top: -10px;

  &--fat {
    margin-left: 5px;
  }

  &--slim {
    margin-left: 45px;
  }
}

.slider-control {
  @include content-oswald;
  font-size: 16px;
  line-height: 20px;

  &--fat {
    margin-right: 19px;
  }

  &--slim {
    margin-left: 19px;
  }

  &__active {
    display: block;
  }
}

.slider-controls {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 200px;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .slider-slide {
    margin-top: 20px;
  }

  .slider-slide img {
    width: 665px;
    height: 515px;
    margin-bottom: 13px;
  }

  .slider-range-line {
    width: 428px;
    height: 6px;
    background-color: $border-grey;
  }

  .slider-controls {
    width: 570px;
  }

  .slider-control {
    font-size: 20px;
    border-bottom: 1px dotted $border-grey;
    padding-bottom: 7px;
    background-size: cover;
  }

  .visualisation-slider {
    height: 463px;
    margin-top: 240px;

    &--fat {
      background-color: $background-grey;
    }

    &--slim {
      background-color: #eaeaea;
    }
  }

  .slider {
    margin-top: -200px;
  }

  .slider-range-value {
    width: 32px;
    height: 32px;
    border: 12px solid #ffffff;
    border-radius: 50%;
    margin-top: -20px;
    box-shadow: 1px 1px 10px 2px #cecece;

    &--fat {
      margin-left: 0;
    }

    &--slim {
      margin-left: 400px;
    }
  }
}
