@import "../variables";
@import "../mixins";

.social__list {
  @include list-reset;
  display: flex;
  padding-top: 7px;
  padding-bottom: 15px;
  justify-content: space-around;
  margin-left: 55px;
  margin-right: 65px;
}

.social__item {
  align-self: center;
  font-size: 0;
}

.social__link {
  display: block;

  &--vkontakte {
    width: 22px;
    height: 12px;
    background-image: url("../img/icon-vk-mobile.svg");
  }

  &--instagram {
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-insta-mobile.svg");
  }

  &--facebook {
    width: 10px;
    height: 19px;
    background-image: url("../img/icon-fb-mobile.svg");
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .social__list {
    @include list-reset;
    display: flex;
    padding-top: 7px;
    padding-bottom: 15px;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
  }

  .social__item {
    font-size: 0;
  }

  .social__link {
    display: block;
    margin-left: 28px;

    &--vkontakte {
      width: 30px;
      height: 16px;
      background-image: url("../img/icon-vk.svg");
    }

    &--instagram {
      width: 23px;
      height: 23px;
      background-image: url("../img/icon-insta.svg");
    }

    &--facebook {
      width: 14px;
      height: 28px;
      background-image: url("../img/icon-fb.svg");
      background-size: cover;
    }
  }
}

@media (min-width: 1440px) {
  .social__link {
    &--vkontakte {
      margin-left: 25px;
    }
  }
}
