@import "../variables";
@import "../mixins";

.weight-loss {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
}

.weight-loss__item {
  @include flex-column;
  width: 44%;
}

.weight-loss__data {
  @include content-oswald;
  font-size: 24px;
  line-height: 24px;
  width: 100%;
  border: 1px solid $border-grey;
  border-radius: 3px;
  text-align: center;
  padding: 14px 17px;
}

.weight-loss__text {
  text-align: center;
  background-color: $background-grey;
  width: 80px;
  margin: 0 auto;
  margin-top: 2px;
  font-size: 12px;
  line-height: 12px;
  transform: translateY(-10px);
}

.result-example__conclusion {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .weight-loss__data {
    font-size: 30px;
    line-height: 37px;
    padding: 17px 17px;
  }

  .weight-loss__text {
    width: auto;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .result-example__conclusion {
    padding-top: 10px;
  }
}

@media (min-width: 1440px) {
  .weight-loss {
    padding-top: 27px;
  }

  .weight-loss__data {
    padding-top: 15px;
  }

  .weight-loss__text {
    background-color: $background-grey;
    padding: 0 10px;
  }

  .result-example__conclusion {
    margin-left: 0;
    padding-top: 20px;
    margin-top: 20px;
    text-align: left;
    width: auto;
  }

  .result-example__sum {
    margin-left: 60px;;
  }
}
