
@mixin zero {
  margin: 0;
  padding: 0;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin tablet {
  min-width: 768px;
}

@mixin desktop {
  min-width: 1200px;
}

@mixin content-oswald {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
}

@mixin header {
  font-size: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  font-weight: 400;
}

@mixin header-tablet {
  font-size: 60px;
  line-height: 60px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  font-weight: 400;
}
